.timkiem{
  display: flex;
width: 437px;
height: 48px;
padding: 10px 16px;
align-items: center;
gap: 16px;
flex-shrink: 0;

  
}

.col_content {
  border-radius: 24px;
  background: #FFF;
  width: 1640px;
  height: 800px;
  flex-shrink: 0;
}


.col_back{
  background: #F9F6F4;
}
.col_texth2{
  font-size: 250%;
}
.timkiem2{
  width: 300px;
}

.btn-b1{
  font-size: 17px;
  color: #706f6f;
  font-weight: bold;
  
  
}


/* table thống kê*/
.even-row {
  background-color: #ffffff; /* Màu trắng */
}

.odd-row {
  background-color: #f0f0f0; /* Màu xám nhạt */
}
.even-row {
  background-color: #ffffff; /* Màu trắng cho dòng chẵn */
}

.odd-row {
  background-color: #F7F8FB;/* Màu xám cho dòng lẻ */
}
/* table */

/* tìm kiếm , lọc vé, page quản lý vé --------------------- */
.col_mt1{
margin-bottom: 20px;

}
.col_t1{
border: 1px solid var(--yellow-1, #FF993C);
border-radius: 6px;
margin-left: 5px;


color: var(--yellow-1, #FF993C);
/* 18 bold */
font-size: 18px;
font-family: Montserrat;
font-style: normal;
font-weight: 700;
line-height: 26px;
}

.col_t2{
border-radius: 8px;
border: 1px solid var(--yellow-1, #FF993C);
width: 160px;
height: 48px;
padding: 11px 24px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;

/* text */
color: var(--yellow-1, #FF993C);
/* 18 bold */
font-size: 18px;
font-family: Montserrat;
font-style: normal;
font-weight: 700;
line-height: 26px;
}

.col_pagination{
text-align: center;
margin-top: 16px;

}
:where(.css-dev-only-do-not-override-12upa3x).ant-pagination .ant-pagination-item-active {
font-weight: 600;
border-color: #FF993C;
}
:where(.css-dev-only-do-not-override-12upa3x).ant-pagination .ant-pagination-item-active a {
color: #FF993C;
}

/* tìm kiếm , lọc vé, page quản lý vé --------------------- */

/* page Đổi soát vé --------------------- */
.col_content2 {
  border-radius: 24px;
  background: #FFF;
  width: 1097px;
  height: 800px;
  flex-shrink: 0;
}

.col_sider {
  border-radius: 24px;
  background: #FFF;
  height: 800px;
  flex-shrink: 0;
  margin-left: -300px !important;
}
.col_button1{
  border-radius: 8px;
background: var(--yellow-1, #FF993C);
display: inline-flex;
padding: 11px 24px;
justify-content: center;
align-items: center;
gap: 10px;


color: #FFF;
/* 18 bold */
font-size: 18px;
font-family: Montserrat;
font-style: normal;
font-weight: 700;
line-height: 26px;
}
.menu{
  min-height: 100%;
  background-color: #f9f6f4;
}
.col_t3{
display: flex;
width: 160px;
height: 48px;
padding: 11px 24px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: 8px;
border: 1px solid var(--yellow-1, #FF993C);
color: var(--yellow-1, #FF993C);

/* 18 bold */
font-size: 18px;
font-family: Montserrat;
font-style: normal;
font-weight: 700;
line-height: 26px;

}
/* page Đổi soát vé --------------------- */

/* Page Gói Dịch Vụ --------------------- */
.col_b1{
  display: inline-flex;
height: 48px;
padding: 11px 24px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: 8px;
border: 1px solid var(--yellow-1, #FF993C);

color: var(--yellow-1, #FF993C);

/* 18 bold */
font-size: 18px;
font-family: Montserrat;
font-style: normal;
font-weight: 700;
line-height: 26px;


}
.col_b2{
  margin-left: 15px;
  border-radius: 8px;
background: var(--yellow-1, #FF993C);
display: inline-flex;
height: 48px;
padding: 11px 24px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
color: #FFF;

/* 18 bold */
font-size: 18px;
font-family: Montserrat;
font-style: normal;
font-weight: 700;
line-height: 26px;
}

.col_bt1{
  border-radius: 8px;
  border: 1px solid var(--yellow-1, #FF993C);
  width: 160px;
  height: 48px;
  padding: 11px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  color: var(--yellow-1, #FF993C);

/* 18 bold */
font-size: 18px;
font-family: Montserrat;
font-style: normal;
font-weight: 700;
line-height: 26px;
}
.col_bt2{
  border-radius: 8px;
  background: var(--yellow-1, #FF993C);
  width: 160px;
  height: 48px;
  padding: 11px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  color: #FFF;

  /* 18 bold */
  font-size: 18px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}
.col_i1{
  display: flex;
width: 148px;
align-items: flex-start;
gap: 10px;
border-radius: 8px;
background: var(--grey-2, #F1F4F8);
}
.col_i2{
  display: flex;
width: 80px;
align-items: flex-start;
gap: 10px;
border-radius: 8px;
background: var(--grey-2, #F1F4F8);
}
.col_tx1{
  color: var(--text, #1E0D03);

/* 16 medium */
font-size: 16px;
font-style: normal;
font-weight: 500;

}

/* Page Gói Dịch Vụ --------------------- */


