.col_img3 {
  flex-shrink: 0;
  padding-left: 10px;
  padding-top: 20px;
}

.menu_text {
  
  background: #f9f6f4;
  color: var(--text, #1E0D03);
/* 18 medium */
font-size: 18px;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
line-height: 26px;
letter-spacing: 0.27px;
}

.menu-container .menu_text .ant-menu-item {
  margin-bottom: 20px; /* Khoảng cách dưới */
}

.menu-container .menu_text .ant-menu-item-selected {
  background: var(--yellow-0, #FFB800);
  color: #ffffff; /* Màu nền khi menu được chọn */
}
.layout-container {
  background: #f9f6f4;
  height: 920px;
}
.col_tt {
  padding-left: 10px;
  padding-top: 500px;
  color: var(--text, #1e0d03);
  /* 14 regular */
  font-size: 14px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  opacity: 0.5;
}
:where(
    .css-dev-only-do-not-override-12upa3x
  ).ant-menu-light.ant-menu-root.ant-menu-inline,
:where(.css-dev-only-do-not-override-12upa3x).ant-menu-light
  > .ant-menu.ant-menu-root.ant-menu-inline,
:where(
    .css-dev-only-do-not-override-12upa3x
  ).ant-menu-light.ant-menu-root.ant-menu-vertical,
:where(.css-dev-only-do-not-override-12upa3x).ant-menu-light
  > .ant-menu.ant-menu-root.ant-menu-vertical {
  border-inline-end: none;
}
